<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/assets/css/modern-business.css}" rel="stylesheet">
    
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html">Start Bootstrap</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="services.html">Services</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="contact.html">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Portfolio
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" href="portfolio-1-col.html">1 Column Portfolio</a>
                <a class="dropdown-item" href="portfolio-2-col.html">2 Column Portfolio</a>
                <a class="dropdown-item" href="portfolio-3-col.html">3 Column Portfolio</a>
                <a class="dropdown-item" href="portfolio-4-col.html">4 Column Portfolio</a>
                <a class="dropdown-item" href="portfolio-item.html">Single Portfolio Item</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                <a class="dropdown-item" href="blog-home-1.html">Blog Home 1</a>
                <a class="dropdown-item" href="blog-home-2.html">Blog Home 2</a>
                <a class="dropdown-item" href="blog-post.html">Blog Post</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other Pages
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                <a class="dropdown-item" href="full-width.html">Full Width Page</a>
                <a class="dropdown-item" href="sidebar.html">Sidebar Page</a>
                <a class="dropdown-item" href="faq.html">FAQ</a>
                <a class="dropdown-item" href="404.html">404</a>
                <a class="dropdown-item" href="pricing.html">Pricing Table</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Subject
        <small>Registry</small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">Subject</li>
        <li class="breadcrumb-item active">Adding</li>
      </ol>

      <!-- Content Row -->
      <div class="row">
        <!-- Map Column -->
        <div class="col-lg-12">
          <form role="form" th:action="@{/subject/save}" th:object="${subject}" method="post">
              <h3 style="color:#337ab7;"><small>Subject Registry Section</small></h3>  
			  <hr />
              <div class="row">
                  <div class="col-lg-8">
                      <div class="form-group">
                          <label>Subject Code</label>
                          <input class="form-control" th:field="*{subjectCode}">
                          <p class="help-block" style="color:red;"></p>
                      </div>
                      <div class="form-group">
                          <label>Subject Description</label>
                          <input class="form-control" th:field="*{subjectDescription}">
                          <p class="help-block" style="color:red;"></p>
                      </div>
                      <div class="form-group">
                          <div class="row">
                              <div class="col-lg-9">
                                  <label>Instructor</label>
                                  <input class="form-control" type="text">
                              </div>
                              <div class="col-lg-3">
                              	  <label>Room</label>
                                  <input class="form-control" th:field="*{room}">
                              </div>
                          </div>
                          <p class="help-block" style="color:red;"></p>
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="form-group">
                          <label>Unit</label>
                          <select class="form-control" th:field="*{unit}">
                              <option value="3.0">3.0</option>
                              <option value="4.0">4.0</option>
                              <option value="5.0">5.0</option>
                              <option value="6.0">6.0</option>
                          </select>
                          <p class="help-block" style="color:red;"></p>
                      </div>
                      <div class="form-group">
                          <label>Schedule (Day)</label>
                          <input class="form-control" th:field="*{scheduleDay}" placeholder="e.g: MWF">
                          <p class="help-block" style="color:red;"></p>
                      </div>
                      <div class="form-group">
                          <label>Schedule (Time)</label>
                          <div class="row">
	                          <div class="col-lg-6">
	                              <input class="form-control" type="time" th:field="*{scheduleTimeFrom}">
	                          	  <!-- <p class="help-block" style="color:red;" th:if="${#fields.hasErrors('scheduleTimeFrom')}" th:errors="*{scheduleTimeFrom}"></p>
	                          -->
	                          </div>
	                          <div class="col-lg-6">
	                              <input class="form-control" type="time" th:field="*{scheduleTimeTo}">
	                          </div>
	                      </div>
                          <p class="help-block" style="color:red;"></p>
                      </div>
                      <div class="form-group">
                          <div class="row">
	                          <div class="col-lg-6">
	                          	  <label>School Year</label>
	                              <select class="form-control">
		                              <option value="2018 - 2019">2018 - 2019</option>
		                              <option value="2019 - 2020">2019 - 2020</option>
		                              <option value="2020 - 2021">2020 - 2021</option>
		                              <option value="2021 - 2022">2021 - 2022</option>
		                          </select>
	                          </div>
	                          <div class="col-lg-6">
	                          	  <label>Semester</label>
	                              <select class="form-control">
		                              <option value="1st - First">1st - First</option>
		                              <option value="2nd - Second">2nd - Second</option>
		                          </select>
	                          </div>
	                      </div>
                          <p class="help-block" style="color:red;"></p>
                      </div>
                  </div>
              </div>
              <hr />
              <div th:if="${message}">
                  <div class="alert alert-danger" th:text="${message}"></div>
              </div>
              <button type="submit" class="btn btn-primary" style="float:right;">Submit Form</button>
          </form>
          <br /><br /><br /><br />
        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>
    
    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Contact form JavaScript -->
    <!-- Do not edit these files! In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <script th:src="@{/assets/js/jqBootstrapValidation.js}"></script>
    <script th:src="@{/assets/js/contact_me.js}"></script>
	
  </body>

</html>
